<div class="container">
    <table class="align-middle mb-0 bg-white">
        <caption>List of projects</caption>
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Status</th>
                <th>Lead</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
              <td><a routerLink="#" >{{ project.name }}</a></td>
              <td>{{ project.category }}</td>
              <td>
                <span [class]="'badge badge-' + getStatusColor(project.status) + ' rounded-pill d-inline'">
                  {{ project.status }}
                </span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <img [src]="project.avatar" class="rounded-circle" />
                  <span class="ms-3">{{ project.lead }}</span>
                </div>
              </td>
              <td class="td-btn">
                <button type="button" class="btn btn-link btn-sm">EDIT</button>
              </td>
            </tr>
          </tbody>
    </table>
</div>
