<div class="header">
  <div class="course-box">
    <h2>Projects</h2>
  </div>
</div>

<div class="container">
  <table class="align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td><button class="project-name-btn" (click)="navigateToTasks(project._id)">{{ project.name }}</button></td>
        <td>{{ project.category }}</td>
        <td>{{ project.description }}</td>
        <td class="td-btn">
          <button type="button" class="btn btn-link btn-sm" (click)="navigateToSettings()">EDIT</button>
          <span class="btn-space"></span> <!-- Ajout de l'espace -->
          <button type="button" class="btn btn-link btn-sm" >DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="circle-add-button button" (click)="createProject()">
    <img src="../../assets/square-plus.svg">
  </button>
</div>
