.landing-container {
    position: relative;
    width: 87%;
    margin: auto;
    height: 58rem;
    padding: 0 3rem;
    z-index: 10;
    border-radius: 16px;
    background: linear-gradient(to right, #fb9bcb, #faf6fa);
    margin-bottom: 1.5rem;
}

.intro-text,
.our-story, 
.wsua, 
.wsua-part {
    flex-basis: 25%;
    padding: 25px;
    text-align: justify;
}

.intro-text h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Diphylleia', serif;
    font-size: 35px;
}
.intro-text1 h1 {
    margin-bottom: 0.5rem;
    font-family: 'Diphylleia', serif;
    font-size: 35px;
}

.wsua h2 {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    font-family: 'Diphylleia', serif;
    font-size: 35px;
}

.wsua-commit h3 {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    font-family: 'Diphylleia', serif;
    font-size: 30px;
}

.our-story h4, 
.wsua-part h4 {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    font-family: 'Diphylleia', serif;
    font-size: 25px;
}



