<div class="landing-container">
    <div class="intro-text">
        <h1>About Us - TinyTasker</h1>
        <p>Welcome to TinyTasker, where organization meets simplicity. Our mission is to provide 
            you with a powerful yet user-friendly platform to manage your projects and tasks 
            effortlessly.
        </p>
    </div>

    <div class="our-story">
        <h4>Our Story</h4>
        <p>TinyTasker was born out of a simple idea: to make task management easy and 
            accessible for everyone. We understand the challenges individuals and teams face in 
            staying organized and focused amidst the chaos of modern work environments.
        </p>
    </div>

    <div class="wsua">
        <h2>What Sets Us Apart</h2>

        <div class="wsua-part">
            <h4>Simplicity Redefined</h4>
            <p>At TinyTasker, we believe in the power of simplicity. Our user-friendly interface ensures 
                that you spend less time managing your tasks and more time accomplishing them. No 
                steep learning curves - just straightforward task management.
            </p>
        </div>

        <div class="wsua-part">
            <h4>Collaborate Seamlessly</h4>
            <p>Teamwork is at the heart of TinyTasker. Collaborate seamlessly with your team, share 
                ideas, and keep everyone on the same page. Real-time updates and communication 
                make teamwork a breeze.
            </p>
        </div>

        <div class="wsua-part">
            <h4>Customizable Workflow</h4>
            <p>We know that every user is unique. That's why TinyTasker offers customizable features to 
                adapt to your workflow. Tailor the platform to fit your specific needs and preferences.
            </p>
        </div>

        <div class="wsua-commit">
            <h3>Our Commitment</h3>
            <p>We are committed to continuous improvement and innovation. Your feedback is 
                invaluable to us as we strive to enhance and expand TinyTasker to meet the evolving 
                needs of our users.
            </p>
        </div>
    </div>

    <div class="intro-text1">
        <h1>Get Started with TinyTasker</h1>
        <p>Join TinyTasker today and experience the difference. Simplify your projects, collaborate 
            effortlessly, and achieve your goals with TinyTasker.
        </p>
        <br>
        <p>Ready to take control of your tasks? <a routerLink="/signup">Sign up now</a> and embark on a journey of 
            productivity!</p>
        <br>
        <p>If you have any questions or feedback, feel free to <a routerLink="/contact-us">get in touch</a>. We're here to help you succeed.</p>
    </div>
</div>