<div class="header">
    <div class="course-box">
      <h2>Users</h2>
    </div>
  </div>
  
  <div class="container">
    <table class="align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
          <th>Tasks</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td><button class="project-name-btn">{{ user.username }}</button></td>
          <td>{{ user.task }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  