<div class="header"> 
    <div class="course-box">
        <h2>Account settings</h2>
    </div>
</div>

<div class="card overflow-hidden">
    <div class="card-body">
        <div class="form-group">
            <label class="form-label">Project Name</label>
            <input type="text" class="form-control mb-1" value="project name">
        </div>
        <div class="form-group">
            <label class="form-label">Category</label>
            <input type="text" class="form-control mb-1" value="category">
        </div>
        <div class="form-group">
            <label class="form-label">Status</label>
            <select name="status" id="status">
                <option value="empty">Project Status</option>
                <option value="waiting">Not Started</option>
                <option value="in-progress">In progress</option>
                <option value="done">Done</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">Lead</label>
            <select name="people" id="people">
                <option value="empty">Project Lead</option>
                <option value="p1">Hadil Yahiaoui</option>
                <option value="p2">Nour Ben Jannena</option>
                <option value="p3">Foulen Ben Foulen</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary">Save Changes</button>
    </div>
</div>