<div class="header">
    <div class="course-box">
      <h2>Update Project</h2>
    </div>
  </div>
  
  <div class="card overflow-hidden">
<form (ngSubmit)="updateProject()">
      <div class="form-group">
        <label for="project-name" class="form-label">Project Name</label>
        <input type="text" class="form-control mb-1" placeholder="Project Name" required [(ngModel)]="project.name" name="name">
      </div>
  
      <div class="form-group">
        <label for="Category" class="form-label">Category</label>
        <input type="text" class="form-control mb-1" placeholder="Category" required [(ngModel)]="project.category" name="category">
      </div>
  
      <div class="form-group">
        <label for="description" class="form-label">Project Description</label>
        <textarea id="description" name="description" placeholder="Project Description" style="height:50px" [(ngModel)]="project.description" name="description" required></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Update Project</button>
    </form>
  </div>