<div class="header"> 
    <div class="course-box">
        <h2>Task Details</h2>
    </div>
</div>

<div class="container">
    <table class="align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          
          <th>Priority</th>
          <th>State</th>
          <th>assignee</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td><button class="project-name-btn">{{ task.priority }}</button></td>
          <td>{{ task.state }}</td>
          <td>{{ task.assignee }}</td>
          <td class="td-btn">
            <button type="button" class="btn btn-link btn-sm" (click)="navigateToDocs()">VIEW DOCS</button>
            <span class="btn-space"></span> <!-- Ajout de l'espace -->
            <button type="button" class="btn btn-link btn-sm" (click)="navigateToComment()">COMMENT</button>
            <span class="btn-space"></span> <!-- Ajout de l'espace -->
  
            <button type="button" class="btn btn-link btn-sm">UPDATE </button>
              <span class="btn-space"></span> <!-- Ajout de l'espace -->
              <button type="button" class="btn btn-link btn-sm" (click)="deleteTask()">DELETE</button>
            
        </tr>
      </tbody>
    </table>
  </div>