<div class="header">
  <div class="course-box">
    <h2>View Comments</h2>
  </div>
</div>

<div class="container">
  <table class="align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Message</th>
        <th>Time</th>
        <th>Writer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.message }}</td>
        <td>{{ comment.time | date:'medium' }}</td>
        <td>{{ comment.writer }}</td>
        <td class="td-btn">
          <button type="button" class="btn btn-link btn-sm" (click)="navigateToEdit(comment)">UPDATE</button>
          <span class="btn-space"></span> 
          <button type="button" class="btn btn-link btn-sm" (click)="deleteComment(comment._id)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="circle-add-button button" (click)="addComment()">
    <img src="../../assets/square-plus.svg">
  </button>
</div>
