@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #f9f3ed;
}
.container{
  display: flex;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
.logout{
  position: absolute;
  bottom: 0;
}



/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}



.course-box ul{
  list-style: none;
  display: flex;
}











/* container Section */
.main-course {
  margin-top: 70px;
  text-transform: capitalize;
  background-color:  #f9edee; /* Ajout d'une couleur de fond */
  padding: 20px; /* Ajout d'un espace intérieur */
}

.course-box {
  width: 100%;
  height: 50px;
  padding: 20px;
  margin-top: 0; /* Adjusted to set margin-top to 0 */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-box h2 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(17, 17, 17);
  margin-bottom: 1px;
  margin-top: 0;
}

.card.overflow-hidden p,
.course-box ul li {
  margin: 30px 20px; /* Ajustez la marge en haut et en bas selon vos préférences */
  padding: 10px;
  background-color: #fff; /* Couleur de fond pour chaque boîte */
  border-radius: 50px; /* J'ai ajusté la bordure pour que ce soit uniforme */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.overflow-hidden p,
.course-box ul li strong {
  font-size: 15px;
  font-weight: bold;
  color: rgb(17, 17, 17);
  margin-bottom: 0px; /* Ajustez la marge en bas selon vos préférences */
  margin-top: 4;
}
