<div class="header">
  <div class="course-box-header">
    <h2>Want some help?</h2>
  </div>
</div>

<div class="card overflow-hidden">
  <p>
    🚀 Tiny Tasker is your go-to task management solution, designed to simplify your daily workflow.
    Get started by exploring the navigation menu on the left. If you have any questions or need assistance,
    don't hesitate to reach out to our support team via the "Contact us" section. Here's how it works and Happy Tasking! 🌟
  </p>
  <section class="main-course">
    <div class="course-box">
      <ul>
        <li><strong>Task Organization:</strong> Easily create, manage, and organize your tasks in one central location.</li>
        <li><strong>Project Management:</strong> Streamline your projects by grouping tasks into projects for better coordination.</li>
        <li><strong>Profile Customization:</strong> Personalize your profile settings, including your username, email, and project details.</li>
        <li><strong>Profile Photo:</strong> Upload a profile photo to add a personal touch to your Tiny Tasker account.</li>
      </ul>
    </div>
  </section>
</div>