<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Tiny Tasker</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
      <div class="container">
        <nav>
          <ul>
            <li><a  class="logo">
              <img src="https://th.bing.com/th/id/OIP.Ct51VNaAOyQV9w6TBVJDjAHaH9?w=161&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
              <span class="nav-item">Tiny Tasker</span>
            </a></li>
            <li><a href="#">
              <i class="fas fa-home"></i>
              <span class="nav-item">Home</span>
            </a></li>
            <li>
              <a routerLink="/profile">
                <i class="fas fa-user"></i>
                <span class="nav-item">Profile</span>
              </a>
            </li>
            <li><a href="">
              <i class="fas fa-wallet"></i>
              <span class="nav-item">Projects</span>
            </a></li>
            <li>
              <a routerLink="/helping">
                <i class="fas fa-question-circle"></i>
                <span class="nav-item">Help</span>
              </a>
            </li>
          </ul>
        </nav>
        <section class="main">
          <div class="main-top">
    
            <i class="fas fa-sign-out-alt">Log out</i>
          </div>
          <section class="main-course">
            <div class="course-box">
              <h2>Wanna some help ?</h2>
            </div>
          </section>
          <div class="card overflow-hidden">
            <p>
              🚀 Tiny Tasker is your go-to task management solution, designed to simplify your daily workflow.
              Get started by exploring the navigation menu on the left. If you have any questions or need assistance,
              don't hesitate to reach out to our support team via the "Contact us" section. Here's how it works and Happy Tasking! 🌟
               
            </p>
            <section class="main-course">
              <div class="course-box">
                <ul>
                  <li><strong>Task Organization:</strong> Easily create, manage, and organize your tasks in one central location.</li>
                  <li><strong>Project Management:</strong> Streamline your projects by grouping tasks into projects for better coordination.</li>
                  <li><strong>Profile Customization:</strong> Personalize your profile settings, including your username, email, and project details.</li>
                  <li><strong>Profile Photo:</strong> Upload a profile photo to add a personal touch to your Tiny Tasker account.</li>
                </ul>
                
                  
              </div>
            </section>
          </div>
          
        </section>
      </div>
    </body>
    </html>
  </span>