<div class="header"> 
    <div class="course-box">
        <h2>Account settings</h2>
    </div>
</div>

<div class="card overflow-hidden">
   
    <div class="media align-items-center">
        <img [src]="profilePhotoSrc" alt="Profile Photo" [class.large-profile-photo]="!displaySelectedPhotoLink">
        <div class="media-body ml-2">
          <label for="photo">Upload new photo</label>
          <input type="file" id="photo" (change)="onPhotoSelected($event)" accept="image/*">
          <button type="button" class="btn btn-default md-btn-flat" (click)="resetPhoto()">Reset</button>
        </div>
      </div>
      
      <div class="card-body">
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" class="form-control mb-1" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
          <label class="form-label">E-mail</label>
          <input type="text" class="form-control mb-1" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
          <label class="form-label">Project</label>
          <input type="text" class="form-control" [(ngModel)]="project" name="project">
        </div>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
      </div>
      

