<div class="header">
  <div class="course-box">
    <h2>Tasks</h2>
  </div>
</div>

<div class="container">
  <table class="align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td><button class="project-name-btn" (click)="navigateToTaskDetails(task._id)">{{ task.title }}</button></td>
        <td>{{ task.category }}</td>
        <td>{{ task.description }}</td>
        <td class="td-btn">
          <button type="button" class="btn btn-link btn-sm" (click)="navigateToDocs()">VIEW DOCS</button>
          <span class="btn-space"></span> <!-- Ajout de l'espace -->
          <button type="button" class="btn btn-link btn-sm" (click)="navigateToComment()">COMMENT</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
