<div class="header">
  <div class="course-box">
    <h2>Tasks</h2>
  </div>
</div>

<div class="container">
  <table class="align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Description</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td><button class="project-name-btn" >{{ task.title }}</button></td>
        <td>{{ task.category }}</td>
        <td>{{ task.priority }}</td>

        <td>{{ task.description }}</td>
        <td><button class="btn btn-link btn-sm" (click)="navigateToTaskDetails(task._id)">Show Details</button></td>

       
          
      </tr>
    </tbody>
  </table>
</div>
