<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny Tasker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  
</head>
<body>
  <div class="container">
    <nav>
      <div class="navbar">
        <div class="logo">
          <img src="https://img.icons8.com/?size=64&id=dKiCz5Ywqtkf&format=png" alt="">
          <h1>Tiny Tasker</h1>
        </div>
        <ul>
          <li>
            <a routerLink="/profile" routerLinkActive="active">
              <i class="fas fa-user"></i>
              <span class="nav-item">Profile</span>
            </a>
          </li>
          <li><a href="#">
            <i class="fas fa-chart-bar"></i>
            <span class="nav-item">Projects</span>
          </a></li>
          <li><a href="#">
            <i class="fas fa-tasks"></i>
            <span class="nav-item"> Contact Us</span>
          </a></li>
         
          <li><a href="#">
            <i class="fas fa-question-circle"></i>
            <span class="nav-item">Help</span>
          </a></li>
          <li><a href="#" class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Logout</span>
          </a></li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <div class="main-top">
        <p>Welcome to Tiny Tasker 👋</p>
      </div>
      <div class="description">
        <h2>About Us </h2>
        <p>
          Tiny Tasker is a project management app that helps you organize and manage your projects efficiently.
          It provides a user-friendly interface and powerful features to streamline your project workflow.
          Whether you are a freelancer, a small business, or a large enterprise, Tiny Tasker is designed to meet
          your project management needs.
        </p>
      </div>
    </section>
  </div>
</body>
</html>
