<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tiny Tasker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a  class="logo">
            <img src="https://th.bing.com/th/id/OIP.Ct51VNaAOyQV9w6TBVJDjAHaH9?w=161&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
            <span class="nav-item">Tiny Tasker</span>
          </a></li>
          <li><a href="#">
            <i class="fas fa-home"></i>
            <span class="nav-item">Home</span>
          </a></li>
          <li>
            <a routerLink="/profile">
              <i class="fas fa-user"></i>
              <span class="nav-item">Profile</span>
            </a>
          </li>
          <li><a href="">
            <i class="fas fa-wallet"></i>
            <span class="nav-item">Projects</span>
          </a></li>
          <li><a href="">
            <i class="fas fa-question"></i>
            <span class="nav-item">Contact us</span>
          </a></li>
          <li>
            <a routerLink="/helping">
              <i class="fas fa-question-circle"></i>
              <span class="nav-item">Help</span>
            </a>
          </li>
        </ul>
      </nav>
  




      
      <section class="main">
        <div class="main-top">
  
          <i class="fas fa-sign-out-alt">Log out</i>
        </div>
        <section class="main-course">
          <div class="course-box">
            <h2>Welcome to Tiny Tasker 👋</h2>
          </div>
          
        </section>
      </section>
    </div>
  </body>
  </html>
</span>