<nav>
  <ul>
    <li><a  class="logo">
      <img src="../../assets/img/logo1.png" alt="">
      <span class="nav-item">Tiny Tasker</span>
    </a></li>
    <li><a routerLink="/dashboard">
      <i class="fas fa-home"></i>
      <span class="nav-item">Home</span>
    </a></li>
    <li>
      <a routerLink="/dashboard/profile">
        <i class="fas fa-user"></i>
        <span class="nav-item">Profile</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/projects">
        <i class="fas fa-wallet"></i>
        <span class="nav-item">Projects</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/users">
        <i class="fas fa-users"></i>
        <span class="nav-item">Users</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/helping">
        <i class="fas fa-question-circle"></i>
        <span class="nav-item">Help</span>
      </a>
    </li>
  </ul>
</nav>